[Unit]
Description=Recording from %i Camera Service
After=network.target

[Service]
Type=simple
KillSignal=HUP
User=camera
SyslogIdentifier=recording_from_%i
ExecStart=/home/surveillance/scripts/start %i
Restart=always
RestartSec=10
#Restart=on-failure

[Install]
WantedBy=multi-user.target