[Unit]
Description=Camera Service
After=network.target

[Service]
Type=simple
KillSignal=HUP
User=camera
SyslogIdentifier=camera
ExecStart=/bin/bash -a -c 'source /home/surveillance/config/recording.conf && cd /home/surveillance/recordings && exec /usr/bin/openRTSP -4 -d 3600 -v -t rtsp://admin:admin@10.17.13.19/1.sdp > $DATE.mp4'
Restart=always
RestartSec=10
#Restart=on-failure

[Install]
WantedBy=multi-user.target